
# Table of Contents
I. <a href = "#sd"> What is Standard Deviation </a> <br>
II. <a href = "#var"> Variance </a> <br>
III. <a href ="#exercise"> Exercise </a> <br>
IV. <a href = "#samples"> Standard Deviation of Samples </a> <br>
V. <a href = "#summary"> Summary </a> <br>
VI. <a href = "#concl"> Conclusion </a> <br>

<h1><a name="sd" style="text-decoration: none; color: black;">What is Standard Deviation</a></h1>

# Exploring the Titanic

### You will be working with a partner to explore the Titanic: A Special Exhibit from Britannica Online (http://titanic.eb.com/01_01.html). You and your partner should each complete this worksheet as you are exploring the resource.

###### 1. Write down some of the numerical data that you encounter. For example, the introduction states that "the vessel sank with a loss of about 1,500 lives at a point about 400 miles (640 km) south of Newfoundland."

In [1]:
## Print your answer

##### 2. Write down the names of passengers or crewmembers described in the article, noting their social class and experiences while on board.

In [16]:
#import os
import pandas as pd
import numpy as np
import pylab as plt

In [30]:
#Prints the names the social class and experiences of some of the passengers and crewmembers
answer = pd.read_csv("namesocialexperiences.csv")
answer

,Experiences {Survived(1)/died(0)},"Social Class(1st, 2nd and 3rd)",Name
0,0,3,Mr. Owen Harris Braund
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...
2,1,3,Miss. Laina Heikkinen
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle
4,0,3,Mr. William Henry Allen
5,0,3,Mr. James Moran
6,0,1,Mr. Timothy J McCarthy
7,0,3,Master. Gosta Leonard Palsson
8,1,3,Mrs. Oscar W (Elisabeth Vilhelmina Berg) Johnson
9,1,2,Mrs. Nicholas (Adele Achem) Nasser
10,1,3,Miss. Marguerite Rut Sandstrom
11,1,1,Miss. Elizabeth Bonnell
12,0,3,Mr. William Henry Saundercock
13,0,3,Mr. Anders Johan Andersson
14,0,3,Miss. Hulda Amanda Adolfina Vestrom
15,1,2,Mrs. (Mary D Kingcome) Hewlett
16,0,3,Master. Eugene Rice
17,1,2,Mr. Charles Eugene Williams
18,0,3,Mrs. Julius (Emelia Maria Vandemoortele) Vande...
19,1,3,Mrs. Fatima Masselmani
20,0,2,Mr. Joseph J Fynney
21,1,2,Mr. Lawrence Beesley
22,1,3,Miss. Anna McGowan
23,1,1,Mr. William Thompson Sloper
24,0,3,Miss. Torborg Danira Palsson
25,1,3,Mrs. Carl Oscar (Selma Augusta Emilia Johansso...
26,0,3,Mr. Farred Chehab Emir
27,0,1,Mr. Charles Alexander Fortune
28,1,3,Miss. Ellen O'Dwyer
29,0,3,Mr. Lalio Todoroff
...,...,...,...
857,0,2,Mr. Frederick Edward Giles
858,1,1,Mrs. Frederick Joel (Margaret Welles Barron) S...
859,0,3,Miss. Dorothy Edith Sage
860,0,2,Mr. John William Gill
861,1,2,Mrs. (Karolina) Bystrom
862,1,2,Miss. Asuncion Duran y More
863,0,1,Mr. Washington Augustus II Roebling
864,0,3,Mr. Philemon van Melkebeke
865,1,3,Master. Harold Theodor Johnson
866,0,3,Mr. Cerin Balkic
867,1,1,Mrs. Richard Leonard (Sallie Monypeny) Beckwith
868,0,1,Mr. Frans Olof Carlsson
869,0,3,Mr. Victor Vander Cruyssen
870,1,2,Mrs. Samuel (Hannah Wizosky) Abelson
871,1,3,Miss. Adele Kiamie Najib
872,0,3,Mr. Alfred Ossian Gustafsson
873,0,3,Mr. Nedelio Petroff
874,0,3,Mr. Kristo Laleff
875,1,1,Mrs. Thomas Jr (Lily Alexenia Wilson) Potter
876,1,2,Mrs. William (Imanita Parrish Hall) Shelley
877,0,3,Mr. Johann Markun
878,0,3,Miss. Gerda Ulrika Dahlberg
879,0,2,Mr. Frederick James Banfield
880,0,3,Mr. Henry Jr Sutehall
881,0,3,Mrs. William (Margaret Norton) Rice
882,0,2,Rev. Juozas Montvila
883,1,1,Miss. Margaret Edith Graham
884,0,3,Miss. Catherine Helen Johnston
885,1,1,Mr. Karl Howell Behr
886,0,3,Mr. Patrick Dooley

##### 3. Write down some questions that you have about people on the Titanic.

In [21]:
#Use the print function to write down your answer
# Eg >>>print("ANSWER")

<h1><a name="var" style="text-decoration: none; color: black;">Variance</a></h1>

## The Passengers and Crew of the Titanic

#### Explore the databases on the Titanic in the Classroom website (http://www2.nexus.edu.au/Teachstud/titanic2/home/menu.htm) to see if you can answer the following questions. Use both the passenger and crew databases as necessary. You will need to develop your own search strategies to find the answers to some of these questions.

###### 1.What does the "N" in the class field represent(i.e, What kind of poeple)?

In [22]:
# Print the answer

##### 2. Record the total number of passengers in each class.

In [5]:
#This data was gotten from the first table I found 
import csv
with open('titaniclist.csv') as csvfile:
    first, second, third = 0,0,0 
    for row in csv.DictReader(csvfile):
        if row["Pclass"] == "1":
            first += 1
        elif row["Pclass"] =="2":
            second += 1
        else:
            third += 1

print("Total first class = {}". format(first))
print("Total second class = {}". format(second))
print("Total third class = {}". format(third))

Total first class = 216
Total second class = 184
Total third class = 487

In [6]:
#This data was gotten from the second table I found 
import csv
with open('titaniclist4.csv') as csvfile:
    first, second, third = 0,0,0 
    for row in csv.DictReader(csvfile):
        if row["pclass"] == "1":
            first += 1
        elif row["pclass"] =="2":
            second += 1
        else:
            third += 1

print("Total first class = {}". format(first))
print("Total second class = {}". format(second))
print("Total third class = {}". format(third))

Total first class = 323
Total second class = 277
Total third class = 710

###### 3. How many passengers were from the United States?  How many crewmembers were from the United States?

In [7]:
import csv
with open('titaniclist4.csv') as csvfile:
    count = 0 
    for row in csv.DictReader(csvfile):
        if row["homedest"] == "New York, NY" :
            count += 1
        elif row["homedest"] == "Hudson, NY" :
            count +=1
        elif row["homedest"] == "San Francisco, CA":
            count += 1
        elif row["homedest"] == "St Louis, MO":
            count += 1
        elif row["homedest"] == "Dowagiac, MI":
            count += 1
        elif row["homedest"] == "Washington, DC":
            count += 1  
        elif row["homedest"] == "Los Angeles, CA":
            count += 1 
        elif row["homedest"] == "Trenton, NJ":
            count += 1 
        elif row["homedest"] == "Glen Ridge, NJ":
            count += 1  
        elif row["homedest"] == "Youngstown, OH":
            count += 1
        elif row["homedest"] == "Birkdale, England Cleveland, Ohio":
            count += 1 
        elif row["homedest"] == "Cooperstown, NY":
            count += 1 
        elif row["homedest"] == "St Leonards-on-Sea, England Ohio":
            count += 1 
        elif row["homedest"] == "Los Angeles, CA":
            count += 1 
        elif row["homedest"] == "Pomeroy, WA":
            count += 1 
        elif row["homedest"] == "Omaha, NE":
            count += 1 
        elif row["homedest"] == "Philadelphia, PA":
            count += 1 
        elif row["homedest"] == "Denver, CO":
            count += 1 
        elif row["homedest"] == "Belmont, MA":
            count += 1 
        elif row["homedest"] == "Bryn Mawr, PA":
            count += 1 
        elif row["homedest"] == "Ascot, Berkshire / Rochester, NY":
            count += 1 
        elif row["homedest"] == "Amenia, ND":
            count += 1 
        elif row["homedest"] == "New York, NY / Ithaca, NY":
            count += 1 
        elif row["homedest"] == "Stoughton, MA":
            count += 1 
        elif row["homedest"] == "Lakewood, NJ":
            count += 1 
        elif row["homedest"] == "Roachdale, IN":
            count += 1 
        elif row["homedest"] == "Milwaukee, WI":
            count += 1 
        elif row["homedest"] == "Deephaven, MN / Cedar Rapids, IA":
            count += 1 
        elif row["homedest"] == "Mt Airy, Philadelphia, PA":
            count += 1 
        elif row["homedest"] == "Brookline, MA":
            count += 1 
        elif row["homedest"] == "Brooklyn, NY":
            count += 1 
        elif row["homedest"] == "Scituate, MA":
            count += 1 
        elif row["homedest"] == "Greenwich, CT":
            count += 1 
        elif row["homedest"] == "Chicago, IL":
            count += 1 
        elif row["homedest"] == "Hudson, NY":
            count += 1 
        elif row["homedest"] == "Indianapolis, IN":
            count += 1 
        elif row["homedest"] == "New York, NY /  Stamford CT":
            count += 1 
        elif row["homedest"] == "Portland, OR":
            count += 1 
        elif row["homedest"] == "Buffalo, NY":
            count += 1 
        else:
               pass 

print(count)

152

###### 4. Record the number of passengers lost in each class.  Does there seem to be a relationship between number lost and social class?

In [8]:
#This data was gotten from the first spreadsheet I found 
import csv
with open('titaniclist.csv') as csvfile:
    first, second, third = 0,0,0 
    for row in csv.DictReader(csvfile):
        if row["Pclass"] == "1" and row["Survived"] == "0":
            first += 1
        elif row["Pclass"] == "2" and row["Survived"] == "0":
            second += 1
        elif row["Pclass"] == "3" and row["Survived"] =="0" :
            third += 1
        else:
            pass

print("Total lost people in first class = {}". format(first))
print("Total lost people in  second class = {}". format(second))
print("Total third people in third class = {}". format(third))

Total lost people in first class = 80
Total lost people in  second class = 97
Total third people in third class = 368

In [9]:
## Now print your answer to the second part of the question

In [10]:
#This data was gotten from the second spreadsheet I found 
import csv
with open('titaniclist4.csv') as csvfile:
    first, second, third = 0,0,0 
    for row in csv.DictReader(csvfile):
        if row["pclass"] == "1" and row["survived"] == "0":
            first += 1
        elif row["pclass"] == "2" and row["survived"] == "0":
            second += 1
        elif row["pclass"] == "3" and row["survived"] =="0" :
            third += 1
        else:
            pass

print("Total lost people in first class = {}". format(first))
print("Total lost people in  second class = {}". format(second))
print("Total third people in third class = {}". format(third))

Total lost people in first class = 123
Total lost people in  second class = 158
Total third people in third class = 528

###### 5. How many of the people lost were crewmembers?

In [11]:
#337 First Class
#285 Second Class
#721 Third Class
#885 Crew
import csv
with open('Passengersandclassess.csv') as csvfile:
    savedcrew = 0
    for row in csv.DictReader(csvfile):
        for i in row["VICTUALLING CREW"] :
            if(i=="*"):
                savedcrew += 1
        for i in row["DECK CREW"] :
            if(i=="*"):
                savedcrew += 1
        for i in row["TITANIC BAND"] :
            if(i=="*"):
                savedcrew += 1
        for i in row["POSTAL CLERKS"] :
            if(i=="*"):
                savedcrew += 1
        for i in row["ENGINEERING CREW"] :
            if(i=="*"):
                savedcrew += 1
lostcrew = 885-savedcrew        
print(lostcrew)

671

###### 6. How many of the people lost were passengers?

In [12]:
import csv
with open('Passengersandclassess.csv') as csvfile:
    savedpass = 0
    for row in csv.DictReader(csvfile):
        for i in row["FC"] :
            if(i=="*"):
                savedpass += 1
        for i in row["SC"] :
            if(i=="*"):
                savedpass += 1
        for i in row["TC"] :
            if(i=="*"):
                savedpass += 1
        for i in row["TC(non-british)"] :
            if(i=="*"):
                savedpass += 1
        for i in row["TC(Cherbourg)"] :
            if(i=="*"):
                savedpass += 1
        for i in row["TC(Queenstown)"] :
            if(i=="*"):
                savedpass += 1
lostpass =1343 - savedpass        
print(lostpass)

477

###### 7. How did you come up with the answers to questions 5 and 6?

In [13]:
#Print answers

###### 8. Using the numbers that you came up with for questions 5 and 6, find the ratio of lost crew to lost passengers.

In [14]:
print("The ratio of lost crew to lost passenger is {}".format(lostcrew),end=":")
print(lostpass)

The ratio of lost crew to lost passenger is 671:477

###### 9. How many women were part of the crew ?  What were some of their duties?

In [15]:
import csv
count = 0
with open('victuallingcrew.csv') as csvfile:

    for row in csv.DictReader(csvfile):
        name = row["Name"]
        occupation = row["Rating"]
        if name[-4:] =='Miss':
            print(name , end =" ")
            print("was a {}".format(occupation))
            count += 1 
            
        elif name[-4:] =='Mrs.':
            print(name , end =" ")
            print("was a {}".format(occupation))
            count += 1
        
        else:
            pass
        
            
print("In total the were {} women in the crew". format(count))

Bennett, Mrs. was a Stewardess
Bliss, Miss was a Stewardess
Bowker, Miss was a Cashier, Ala Carte Restaurant
 Caton Miss was a Turkish Bath attendant
Gold Kate, Mrs. was a Stewardess
Gregson, Miss was a Stewardess
Jessop Violet, Miss was a Stewardess
Lavington, Miss was a Stewardess
Leather Elizabeth, Mrs. was a Stewardess
Marsden, Miss was a Stewardess
Martin, Miss was a Second cashier, Ala Carte Restaurant
Martin, Mrs. was a Stewardess
McLaren, Mrs. was a Stewardess
Pritchard, Mrs. was a Stewardess
Roberts, Mrs. was a Stewardess
Robinson Annie, Mrs. was a Stewardess
Sloan Mary , Miss was a Stewardess
Slocombe Maud, Mrs. was a Turkish Bath attendant
Smith, Miss was a Stewardess
Snape, Mrs. was a Stewardess
Stap, Miss was a Stewardess
Wallis, Mrs. was a Matron
Walsh, Miss was a Stewardess
In total the were 23 women in the crew

##### 10. Plot pie charts for 5 and 6.

In [16]:
import plotly
import plotly.offline as py
import plotly.graph_objs as go
py.init_notebook_mode(connected=True)

labels = ['Saved Passengers','Saved Crew Members']
values = [savedpass,savedcrew]
domains = [
    
    {'x': [0.33, 1.0], 'y': [0.33, 1.0]}
]
traces = []

for domain in domains:
    trace = go.Pie(labels = labels,
                   values = values,
                   domain = domain,
                   hoverinfo = 'label+percent+name')
    traces.append(trace)
    
layout = go.Layout(height = 550,
                   width = 550,
                   autosize = False,
                   title = 'Graph of Ratio of Saved Crew Members to Saved Passengers')
fig = go.Figure(data = traces, layout = layout)
py.iplot(fig, show_link = False)

In [26]:
import plotly
import plotly.offline as py
import plotly.graph_objs as go
py.init_notebook_mode(connected=True)

labels = ['Lost Passengers','Lost Crew Members']
values = [lostpass,lostcrew]
domains = [
    
    {'x': [0.33, 1.0], 'y': [0.33, 1.0]}
]
traces = []

for domain in domains:
    trace = go.Pie(labels = labels,
                   values = values,
                   domain = domain,
                   hoverinfo = 'label+percent+name')
    traces.append(trace)
    
layout = go.Layout(height = 500,
                   width = 500,
                   autosize = False,
                   title = 'Graph of Ratio of Lost Crew Members to Lost Passengers')
fig = go.Figure(data = traces, layout = layout)
py.iplot(fig, show_link = False)

#### Write a question that you would like to answer by using the databases (e.g., What fraction of the male crewmembers were between the ages of 16 and 18?).  Provide the answer and describe the search strategy you used to find it.  This should be challenging – try to stump your classmates!

In [18]:
# Print the question and write code for the answer.

# Titanic Lifeboats

### Part 1
#### Go to the Titanic Database (http://www2.nexus.edu.au/Teachstud/titanic2/home/titic1.htm) website. Both the Titanic passenger and crew databases on this site contain a field for each lifeboat. Investigate the people on your assigned lifeboat using the questions below. Note: Read all of the questions before starting, and create a way to systematically record the information (e.g., table or spreadsheet).

##### 1. What is your lifeboat number or letter?

In [19]:
### Since the website doesn't work lets just assume boat 14 
## PRINT YOUR BOAT NUMBER

##### 2. How many people were on your lifeboat?

In [91]:
#This data was gotten from the second spreadsheet I found 
import csv
with open('titaniclist4.csv') as csvfile:
    people = 0
    for row in csv.DictReader(csvfile):
        if row["boat"] == "14" :
            people += 1
    
        else:
            pass

print("Total people in my boat = {}". format(people))

Total people in my boat = 33

###### 3. What were their names and ages?

In [98]:
import csv
with open('titaniclist4.csv') as csvfile:
    people = 0
    print("NAME", end = ".................................")
    print("AGE")
    for row in csv.DictReader(csvfile):
        if row["boat"] == "14" :
           
            print(row["name"], end = "........ ")
            print(row["age"] )
    
        else:
            pass

NAME.................................AGE
Compton, Miss. Sara Rebecca........ 39
Compton, Mrs. Alexander Taylor (Mary Eliza Ingersoll)........ 64
Hoyt, Mr. William Fisher........
Minahan, Miss. Daisy E........ 33
Minahan, Mrs. William Edward (Lillian E Thorpe)........ 37
Brown, Miss. Edith Eileen........ 15
Brown, Mrs. Thomas William Solomon (Elizabeth Catherine Ford)........ 40
Cameron, Miss. Clear Annie........ 35
Clarke, Mrs. Charles V (Ada Maria Winfield)........ 28
Collyer, Miss. Marjorie "Lottie"........ 8
Collyer, Mrs. Harvey (Charlotte Annie Tate)........ 31
Cook, Mrs. (Selena Rogers)........ 22
Davies, Master. John Morgan Jr........ 8
Davies, Mrs. John Morgan (Elizabeth Agnes Mary White) ........ 48
Hart, Miss. Eva Miriam........ 7
Hart, Mrs. Benjamin (Esther Ada Bloomfield)........ 45
Laroche, Miss. Louise........ 1
Laroche, Miss. Simonne Marie Anne Andree........ 3
Laroche, Mrs. Joseph (Juliette Marie Louise Lafargue)........ 22
Lemore, Mrs. (Amelia Milley)........ 34
Mellinger, Miss. Madeleine Violet........ 13
Mellinger, Mrs. (Elizabeth Anne Maidment)........ 41
Portaluppi, Mr. Emilio Ilario Giuseppe........ 30
Walcroft, Miss. Nellie........ 31
Wells, Master. Ralph Lester........ 2
Wells, Miss. Joan........ 4
Wells, Mrs. Arthur Henry ("Addie" Dart Trevaskis)........ 29
Williams, Mr. Charles Eugene........
Lang, Mr. Fang........ 26
Moor, Master. Meier........ 6
Moor, Mrs. (Beila)........ 27
Ryan, Mr. Edward........
Thomas, Mrs. Alexander (Thamine "Thelma")........ 16

###### 4. What were their occupations?

In [ ]:
###Answer not given

###### 5. What is the average age of the people on your lifeboat

In [115]:

import csv
with open('titaniclist4.csv') as csvfile:
    ages = list()

    for row in csv.DictReader(csvfile):
        if row["boat"] == "14" and row["age"] != "":
            ages.append(float(row["age"]))
    
        else:
            pass


ave = (sum(ages))/(len(ages))
    

print("The average age on my boat is = {}". format(ave))

The average age on my boat is = 24.833333333333332

###### 6. What is the ratio of men to women on your lifeboat?

In [120]:
import csv
with open('titaniclist4.csv') as csvfile:
    m,w = 0,0

    for row in csv.DictReader(csvfile):
        if row["boat"] == "14" and row["sex"] == "male":
            m += 1
        elif row["boat"] == "14" and row["sex"] == "female" :
            w += 1
    
        else:
            pass
print("The ratio of men to women on my boat is", end = " ")
print(m, end = ":")
print(w)

The ratio of men to women on my boat is 8:25

###### 7. Were there any family members on your lifeboat? Who were they?

In [122]:
import csv
with open('titaniclist4.csv') as csvfile:

    for row in csv.DictReader(csvfile):
        if row["boat"] == "14" and row["sibsp"] == "1":
            print(row["name"])
    
    
        else:
            pass

Compton, Miss. Sara Rebecca
Minahan, Miss. Daisy E
Minahan, Mrs. William Edward (Lillian E Thorpe)
Brown, Mrs. Thomas William Solomon (Elizabeth Catherine Ford)
Clarke, Mrs. Charles V (Ada Maria Winfield)
Collyer, Mrs. Harvey (Charlotte Annie Tate)
Davies, Master. John Morgan Jr
Hart, Mrs. Benjamin (Esther Ada Bloomfield)
Laroche, Miss. Louise
Laroche, Miss. Simonne Marie Anne Andree
Laroche, Mrs. Joseph (Juliette Marie Louise Lafargue)
Wells, Master. Ralph Lester
Wells, Miss. Joan
Thomas, Mrs. Alexander (Thamine "Thelma")

###### 8. What is the ratio of crew to passengers on your lifeboat?

In [22]:
import csv
with open('passengersinboats.csv') as csvfile:
    crew, passenger = 0 ,0 
    for row in csv.DictReader(csvfile):
        if row["Boat"] == "14" and row["Class"] == "CR":
            crew += 1
        elif row["Boat"] == "14" and row["Class"] != "CR":
            passenger += 1
        else:
            pass
print("The ratio of crew to passengers on my life boat was", end = " ")        
print(crew,end = ":")
print(passenger)

The ratio of crew to passengers on my life boat was 5:23

###### 9. In what class did the majority of the passengers on your lifeboat travel?

In [127]:
import csv
def majority(x, y, z):
    Max = x
    if y > Max:
        Max = y    
    if z > Max:
        Max = z
        if y > z:
            Max = y
    return Max
with open('titaniclist4.csv') as csvfile:
    first,second,third = 0,0,0
    for row in csv.DictReader(csvfile):
        if row["boat"] == "14" and row["pclass"] == "1":
            first += 1
        elif  row["boat"] == "14" and row["pclass"] == "2":
            second += 1
        elif  row["boat"] == "14" and row["pclass"] == "3":
            third += 1
        else:
            pass
        
if majority(first,second, third ) == first :
    print("The majority of passengers on my boat travelled First class")
elif majority(first,second, third ) == second :
    print("The majority of passengers on my boat travelled Second Class")
elif majority(first,second, third ) == third :
    print("The majority of passengers on my boat travelled Third Class")
else:
    print("There was no majority on my boat. There was a tie!")

The majority of passengers on my boat travelled Second Class

###### 10. What else did you discover about the people on your lifeboat?

In [27]:
###Print your answer

###### Now go to the site The Titanic Lifeboats, and use it to revise or expand on your answers to the questions above (http://dweephor.com/titanic/).

### Part 2
#### Compile the information you have gathered about the people on your assigned lifeboat. Discuss with your group how this information can help you develop a clearer picture of the people who survived the Titanic. With your group, make a poster or power point presentation to help illustrate some of the information you have discovered about the people in your lifeboat. Include two or more appropriate graphs in your presentation.

###### Identify male and female passengers based on the salutation prefix

In [18]:
import csv
with open('passengersinboats.csv') as csvfile:

    for row in csv.DictReader(csvfile):
        name = row["Name"]
        lname = str(name)
        if lname.startswith('Mr.'):
            print("{} was male".format(lname))
        elif lname.startswith('Sir'):
            print("{} was male".format(lname))
        elif lname.startswith('Master'):
            print("{} was male".format(lname))
        elif lname.startswith('Lt.'):
            print("{} was male".format(lname))
        elif lname.startswith('Mrs.'):
            print("{} was female".format(lname))
        elif lname.startswith('Lady'):
            print("{} was female".format(lname))
        elif lname.startswith('Miss'):
            print("{} was female".format(lname))
        elif lname.startswith('Cmdr.'):
            print("{} was male".format(lname))
        else:
             print("{}'s sex cannot be identified based on salutation prefix".format(lname))

Mr. Albert Edward James Horswell or Horswill was male
Mr. Charles Hendrickson or Hendricksen was male
Mr. George Thomas Macdonald Symons was male
Mr. James Taylor was male
Mr. Samuel Collins was male
Mr. Shee was male
Robert William Pusey's sex cannot be identified based on salutation prefix
Lady Lucille Wallace Sutherland Duff Gordon was female
Miss Francatelli was female
Mr. Abraham L. Salomon was male
Mr. Charles Emil Henry Stengel was male
Sir Cosmo Edmund Duff Gordon was male
Cmdr. Joseph Groves Boxhall was male
Mr. Frank Osman was male
Mr. James Johnson (or Johnston) was male
Miss (?) Amelia Kenchen was female
Miss Elizabeth Walton Allen was female
Miss Georgette Alexandra Madill was female
Miss LeRoy was female
Mrs. Edward Dale (Charlotte Lamson) Appleton was female
Mrs. Edward Scott (Elizabeth Walton McMillan) Robert was female
Mrs. Robert Clifford (Molvina Helen Lamson) Cornell was female
Mrs. Walter Donald (Mahala Dutton) Douglas was female
a cook's sex cannot be identified based on salutation prefix
Master Georges Youssef was male
Master Neville Coutts was male
Master William Leslie Coutts was male
Miss Louise Gretchen Kink was female
Miss Marian Youssef9 was female
Mr. Anton Kink was male
Mr. Brahim Youssef9 was male
Mrs. Anton (Louise Heilmann) Kink was female
Mrs. Brahim (Hanne) Youssef9 was female
Mrs. William (Minnie) Coutts was female
Mr. C.D. McKay was male
Mr. C.H. Pascoe was male
Mr. George Moore was male
Col. Alfons Simonius-Blumer's sex cannot be identified based on salutation prefix
Dr. Max Staehlin's sex cannot be identified based on salutation prefix
Master Robert Douglas Speddon was male
Miss (?) Anna Hard was female
Miss (?) Helen Wilson was female
Miss Burns was female
Miss Elizabeth W. Shutes was female
Miss Margaret Edith Graham was female
Miss Pericault was female
Mr. Adolphe Saalfeld was male
Mr. Albert Adrian Dick was male
Mr. Frederic Oakley Speddon was male
Mr. Harry Anderson was male
Mr. Henry Sleeper Harper was male
Mr. Lesneur was male
Mr. Thomas Drake Martinez Cardeza was male
Mr. Walter James Hawksford was male
Mrs. Albert Adrian (Vera Gillespie) Dick was female
Mrs. Charles Melville (Clara Jennings Gregg) Hays was female
Mrs. Henry Sleeper (Myra Haxtun) Harper was female
Mrs. James Warburton Martinez (Charlotte Wardle Drake) Cardeza was female
Mrs. Thornton (Orian Hays) Davidson was female
Mrs. William Thompson (Edith Junkins) Graham was female
Mrs. Frederic Oakley (Margaretta Corning Stone) Speddon was female
Hamad Hassah's sex cannot be identified based on salutation prefix
Mr. Andrew Cunningham was male
Mr. F. Smith was male
Mr. Frank W. Prentice was male
Mr. Frederick Scott was male
Mr. Jack Foley was male
Mr. James Crimmins was male
Mr. S.C. Seibert was male
Mr. Sam Parks was male
Mr. Samuel S. Hemming or Hemmings was male
Mr. Thomas Patrick Granger was male
Mr. Thomas Patrick. Dillon was male
Mr. W.H. Lyons was male
Mr. Walter John Perkis was male
Mr. W. McCarthy was male
Master John Borie Ryerson was male
Master William Thornton Carter II was male
Miss (?) Chandowson was female
Miss (?) Margaret Fleming was female
Miss Bidois was female
Miss Caroline Louise Endres was female
Miss Elizabeth Mussey Eustis was female
Miss Emily Borie Ryerson was female
Miss Grace Scott Bowen was female
Miss Jean Gertrude Hippach was female
Miss Lucile Polk Carter was female
Miss Serepeca was female
Miss Suzette Parker Ryerson was female
Mrs. Arthur Larned (Emily Maria Borie) Ryerson was female
Mrs. George Dunton (Eleanor Elkins) Widener was female
Mrs. John Borland (Marian Longstreth Morris) Thayer was female
Mrs. John Bradley (Florence Briggs Thayer) Cumings or Cummings was female
Mrs. John Jacob (Madeleine Talmadge Force) Astor was female
Mrs. Walter Bertram (Martha Eustis) Stephenson was female
Mrs. Walter Miller (Virginia McDowell) Clark was female
Mrs. William Ernest (Lucile Polk) Carter was female
Victorine Perkins's sex cannot be identified based on salutation prefix
Mrs. Louis Albert (Ida Sophia Fischer) Hippach was female
a baby in Miss Eustis care's sex cannot be identified based on salutation prefix
a stowaway's sex cannot be identified based on salutation prefix
a young woman and her baby 9's sex cannot be identified based on salutation prefix
Widener maid's sex cannot be identified based on salutation prefix
Master Carl Edvin Rojj Felix Asplund was male
Master Elias Nicola-Yarred was male
Miss Jamila Nicola-Yarred was female
Miss Lillian Gertrude Asplund was female
Mr. Daniel Buckley was male
Mrs. Carl Oscar (Selma Augusta Johansson) Asplund was female
Cmdr. Herbert John Pitman was male
Mr. Alfred Olliver was male
Mr. Alfred Shiers was male
Mr. C. Edwards 36 steward (mentioned by Shapiro was male
Mr. E.J. Guy was male
Mr. Henry Samuel Etches was male
Mr. Paul Mauge was male
Dr. Henry William Frauenthal's sex cannot be identified based on salutation prefix
Master Washington Dodge was male
Miss Harriet R. Crosby was female
Miss Helen Raghnild Ostby was female
Miss Marguerite Frolicher was female
Mr. Edward P. Calderhead was male
Mr. Edwin Nelson Kimball Jr. was male
Mr. Elmer Zebley Taylor was male
Mr. George Achilles Harder was male
Mr. Isaac Gerald Frauenthal was male
Mr. John Irving Flynn was male
Mr. Karl Howell Behr was male
Mr. Norman Campbell Chambers was male
Mr. Richard Leonard Beckwith was male
Mr. Samuel L. Goldenberg was male
Mr. Spencer Victor Silverthorne was male
Mrs. Charles Emil Henry (Annie May Morris) Stengel was female
Mrs. Edward Gifford (Catherine Elizabeth Halstead) Crosby was female
Mrs. Edwin Nelson (Gertrude Parsons) Kimball Jr. was female
Mrs. Elmer Zebley (Juliet Cummins Wright) Taylor was female
Mrs. Frank Manley (Anna S. Atkinson) Warren was female
Mrs. George Achilles (Dorothy Annan) Harder was female
Mrs. Henry Arthur (Genevieve Fosdick) Cassebeer Jr. was female
Mrs. Henry William (Clara Heinsheimer) Frauenthal was female
Mrs. Maximillian (Margaretha Emerentia Stehli) Frolicher-Stehli was female
Mrs. Norman Campbell (Bertha Griggs) Chambers was female
Mrs. Richard Leonard (Sallie Monypeny) Beckwith was female
Mrs. Samuel L. (Edwiga Grabowsko) Goldenberg was female
Miss Helen Monypeny Newsom was female
Mr. Maximillian Frolicher-Stehli was male
Mrs. Washington (Ruth Vidaver) Dodge was female
a baby's sex cannot be identified based on salutation prefix
a stewardess's sex cannot be identified based on salutation prefix
one of two stowaways identified as East Asian by Mr. Stengel 's sex cannot be identified based on salutation prefix
another of two stowaways identified as East Asian by Mr. Stengel 's sex cannot be identified based on salutation prefix
Mr. Frederick Fleet was male
Mr. Robert Hitchens9 or Hichens was male
Maj. Arthur Godfrey Peuchen's sex cannot be identified based on salutation prefix
Mdme. Berthe de Villiers's sex cannot be identified based on salutation prefix
Miss Barber was female
Miss Elsie Edith Bowerman was female
Miss Icard was female
Miss Madeleine Newell was female
Miss Marjorie Newell was female
Miss Norton was female
Mrs. Carl Johan (Sigrid Posse) Lindstrom was female
Mrs. Edith Martha Chibnall was female
Mrs. Edward (Helen Churchill Hungerford) Candee was female
Mrs. Frederick Charles (Suzette Baxter) Douglas was female
Mrs. George Nelson (Martha E. ) Stone was female
Mrs. James (Helene De Laudeniere Chaput) Baxter was female
Mrs. James Joseph (Margaret Molly Tobin) Brown was female
Mrs. Lucien Philip (Mary Eloise Hughes) Smith was female
Mrs. Martin (Elizabeth L. Barrett) Rothschild was female
Mrs. William Augustus (Marie Eugenie) Spencer was female
Mrs. Edgar Joseph (Leila Saks) Meyer was female
a boy with an injured arm ordered in by Capt. Smith  (possibly same as Peuchens stowaway)'s sex cannot be identified based on salutation prefix
a fireman transferred later from Boat 16 to row 's sex cannot be identified based on salutation prefix
a stowaway's sex cannot be identified based on salutation prefix
Mr. Archie Jewell was male
Mr. George A. Hogg was male
Mr. W. Weller was male
Miss Dorothy Gibson was female
Mr. A. Fernand Omont was male
Mr. Alfred Nourney (Baron von Drachstedt) was male
Mr. Dickinson H. Bishop was male
Mr. Frederic Kimber Seward was male
Mr. Gilbert Milligan Tucker Jr. was male
Mr. Henry Blank was male
Mr. James R. McGough was male
Mr. John Pillsbury Snyder was male
Mr. Paul Chevre was male
Mr. Pierre Marechal was male
Mr. Robert Williams Daniel was male
Mr. William Bertram Greenfield was male
Mr. William Thompson Sloper was male
Mrs. Alfred (Antoinette) Flegenheim was female
Mrs. Boulton (Olive Potter) Earnshaw was female
Mrs. Dickinson H. (Helen Walton) Bishop was female
Mrs. John Pillsbury (Nelle Stevenson) Snyder was female
Mrs. Leo David (Blanche Strouse) Greenfield was female
Mrs. Leonard (Pauline C. Boeson) Gibson was female
Mrs. Thomas (Lily Alexenia Wilson) Potter Jr.  was female
Miss Margaret Bechstein Hays was female
one out of four crew in all's sex cannot be identified based on salutation prefix
a second out of four crew in all's sex cannot be identified based on salutation prefix
Mr. Alfred Crawford was male
Mr. Thomas Jones was male
Amelia Bessetti's sex cannot be identified based on salutation prefix
Dr. Alice Farnham Leader's sex cannot be identified based on salutation prefix
Miss (?) Albina Bazzani was female
Miss (?) Sarah Daniels was female
Miss Caroline Bonnell was female
Miss Constance Willard was female
Miss Elizabeth Bonnell was female
Miss Ellen Bird was female
Miss Gladys Cherry was female
Miss Maloney was female
Miss Marie Grice Young was female
Miss Mary Natalie Wick was female
Miss Ruth Taussig was female
Mlle. Olivia's sex cannot be identified based on salutation prefix
Mrs. Emil (Tillie Mandelbaum) Taussig was female
Mrs. Frederick Joel (Margaret Welles Barron) Swift was female
Mrs. Frederick R. (Marion) Kenyon was female
Mrs. George Dennick (Mary Hitchcock) Wick was female
Mrs. J. Stuart (Ella Holmes) White was female
Mrs. Thomas (Edith Warne) Pears was female
Mrs. William Robert (Emma Eliza Ward) Bucknell was female
the Countess of Rothes (Noel Lucy Martha Dyer-Edwards)'s sex cannot be identified based on salutation prefix
Mrs. Victor de Satode (Josefa de Soto) Penasco was female
a cook's sex cannot be identified based on salutation prefix
another seaman's sex cannot be identified based on salutation prefix
Gracie lists steward Hart on this boat according to Mr. Jones testimony's sex cannot be identified based on salutation prefix
Mr. Albert Haines was male
Mr. George Scooch Kemish was male
Mr. James G. Widgery was male
Mr. James R. Paddy McGough was male
Mr. W. C. Peters was male
Mr. Walter Wynne 9 was male
Mr. William Ward was male
Miss Mary Conover Lines was female
Mlle. Segesser's sex cannot be identified based on salutation prefix
Mrs. Ernest H. (Elizabeth Lindsey James) Lines was female
Mrs. Jacques (May Peel) Futrelle was female
Mrs. Leontine Pauline Aubert was female
Miss Alice Herman was female
Miss Bertha Watt was female
Miss Ellen Toomey was female
Miss Kate Buss was female
Miss Kate Herman was female
Miss Marion Wright was female
Mr. Charles Wilhelms was male
Mr. Sydney C. Stuart Collett was male
Mrs. James (Bessie Inglis Milne) Watt was female
Mrs. Samuel (Jane Laver) Herman was female
Mrs. William H. (Jessie L.) Trout was female
Mr. C. Rice was male
Mr. Edward John Buley was male
Mr. Frank Oliver Evans was male
Mr. William Burke was male
Miss Alice Elizabeth Fortune was female
Miss Ethel Flora Fortune was female
Miss Gretchen Fiske Longley was female
Miss Kornelia Theodosia Andrews was female
Miss Mabel Fortune was female
Mrs. John C. (Anna Andrews) Hogeboom was female
Mrs. Mark (Mary McDougald) Fortune was female
a male passenger who jumped from deck 9 (possibly Mr. Hosono's sex cannot be identified based on salutation prefix
a steward's sex cannot be identified based on salutation prefix
a stowaway's sex cannot be identified based on salutation prefix
Miss Nora A. Keane was female
Mr. Masafumi Hosono was male
Mr. A. McMicken or McMichen was male
Mr. A. Thissinger or Thessenger or Thussinger was male
Mr. Charles Donald Mackay was male
Mr. Edward Wheelton was male
Mr. Joseph Thomas Wheate or Wheat was male
Mr. S. Humphreys or Humphries was male
Mr. W. Brice was male
Mrs. Annie Robinson was female
Mrs. Maude Slocombe was female
Master Hudson Trevor Allison was male
Miss (?) Alice Cleaver was female
Miss Edith Louise Rosenbaum or Russell was female
Mr. Philip E. Mock was male
Mrs. Paul (Emma Mock) Schabert was female
a fireman 9's sex cannot be identified based on salutation prefix
Master Richard F. Becker was male
Miss Jessie Leitch was female
Miss Marion Louise Becker was female
Miss Maude Sincock was female
Miss Mildred Brown was female
Miss Nina Harper was female
Miss Phyllis May Quick was female
Miss Winifred Vera Quick was female
Mrs. Allen Oliver (Nellie E. Baumgardner) Becker was female
Mrs. Elizabeth Ramell Nye was female
Mrs. Frederick C. (Jane Richards) Quick was female
Master Philip Aks was male
Mr. Frederick Clench or Clinch was male
Mr. John Poingdestre was male
a male passenger who jumped from deck's sex cannot be identified based on salutation prefix
Seaman Lucas and two firemen transferred from Boat D 9's sex cannot be identified based on salutation prefix
Miss Alice Phillips was female
Miss Asuncion Duran y More was female
Miss Dagmar Bryhl was female
Miss Emily Rugg was female
Miss Florentina Duran y More was female
Miss Lillian W. Bentham was female
Mrs. John James (Florence Louise Long) Ware was female
Mrs. Lutie Davis Parrish was female
Mrs. Samuel (Anna) Abelson was female
Mrs. William (Imanita) Shelly was female
Master Bertram Vere Dean was male
Miss Elizabeth Gladys Millvina Dean was female
Mrs. Bertram (Eva Ettie) Dean was female
Mrs. Percival (Florence Kate White) Thorneycroft was female
Mr. Frederick Barrett was male
Mr. Frederick Dent Ray was male
Mr. George William Beauchamp was male
Mr. Reginald Robinson Lee was male
Mr. W. Wright was male
Mr. Walter Williams was male
Mr. William Wally Major was male
Dr. Washington Dodge's sex cannot be identified based on salutation prefix
a baker 9's sex cannot be identified based on salutation prefix
two firemen 9's sex cannot be identified based on salutation prefix
Master Alden Gates Caldwell was male
Master George Sidney Richards was male
Master William Rowe Richards was male
Miss Ellen Nellie Hocking was female
Miss Hilda Mary Slayter was female
Miss Mary Davis was female
Miss Ruth Elizabeth Becker was female
Mr. Albert Francis Caldwell was male
Mr. Lawrence Beesley was male
Mrs. Albert Francis (Sylvia Mae Harbaugh) Caldwell was female
Mrs. Elizabeth Hocking was female
Mrs. Mary D. Hewlett was female
Mrs. Sidney (Emily Hocking) Richards was female
Master Arthur Olsen was male
Miss Aurora Adelia Landergren was female
Miss Beatrice Irene Sandstrom was female
Miss Bridget Delia Bradley was female
Miss Elizabeth Dowdell was female
Miss Helmina Josefina Nilsson was female
Miss Hilda Maria Hellstrom was female
Miss Julia Smyth was female
Miss Marguerite Rut Sandstrom was female
Miss Mary Agatha Glynn was female
Miss Virginia Ethel Emanuel was female
Mr. Bernt Johannesen-Bratthammer was male
Mr. Frithiof Madsen was male
Mr. Johan Cervin Svensson was male
Mr. Oskar L. Johanson was male
Mrs. Hjalmar (Agnes Charlotta Bengtsson) Sandstrom was female
Mrs. Sam (Leah Rosen) Aks was female
Mrs. William Joseph (Anna) De Messemacker was female
Mr. Einar Gervasius Karlsson was male
Cmdr. Harold Godfrey Lowe was male
Mr. Frank Herbert Morris was male
Mr. George Frederick Crowe was male
Mr. John Jack Stewart was male
Mr. Joseph Scarrott was male
Miss Daisy E. Minahan was female
Miss Sara Rebecca Compton was female
Mr. William F. Hoyt was male
Mrs. Alexander Taylor (Mary Eliza Ingersoll) Compton was female
Mrs. William Edward (Lillian E. Thorpe) Minahan was female
a stowaway disguised as woman's sex cannot be identified based on salutation prefix
an East Asian male passenger pulled from water 9's sex cannot be identified based on salutation prefix
Miss Edith E. Brown was female
Miss Eva Miriam Hart was female
Miss Madeleine Violet Mellenger was female
Miss Marjory or Marjorie Collyer was female
Miss Selena Rogers Cook was female
Mr. Charles Eugene Williams was male
Mrs. Amelia Lamore was female
Mrs. Charles Alexander (Alice Adelaide) Louch was female
Mrs. Charles V. (Ada Maria) Clarke was female
Mrs. Elizabeth Anne Mellenger was female
Mrs. Harvey (Charlotte Tate) Collyer was female
Mrs. Thomas William Soloman (Elizabeth C.) Brown was female
Mrs. Benjamin (Esther) Hart was female
Master Assed Alexander Thomas was male
Mr. Edward Ryan was male
Mrs. Alexander (Thelma) Thomas was female
Mr. George Cavell was male
Mr. John Edward Hart was male
Mr. L. Diamond was male
Mr. Samuel James Rule was male
Mr. W. H. Taylor was male
two Swedish girls 32's sex cannot be identified based on salutation prefix
Mr. Charles Hallis Romaine was male
Mr. George Arthur Brayton was male
Mr. Harry Haven or Homer was male
Mr. August Abrahamsson was male
Master Harold Theodor Johnson was male
Miss Eleanor Ileen Johnson was female
Mr. Charles Edward Dahl was male
Mr. Eino William Lindqvist was male
Mr. Karl Albert Midtsjo was male
Mr. William Joseph De Messemacker was male
Mrs. Oscar W. (Alice Berg) Johnson was female
Mrs. Pekka Pietari (Elin Dolk) Hakkarainen was female
Miss Violet Constance Jessop was female
Mr. C. E. Andrews was male
Mr. Ernest Archer was male
Mr. H. Bailey was male
Mrs. Elizabeth Leather was female
a baby left in Miss Jessops charge 25's sex cannot be identified based on salutation prefix
a baby left in the care of Miss Troutt's sex cannot be identified based on salutation prefix
a fireman's sex cannot be identified based on salutation prefix
a stewardess 9's sex cannot be identified based on salutation prefix
a woman who lost her husband and two sons 25's sex cannot be identified based on salutation prefix
Miss Edwina Celia Troutt was female
Miss Anna Karen Abelseth was female
Mr. Edward Brown was male
Mr. John or James Thompson was male
Mr. George Lucien Rheims was male
Mr. Peter Denis Daly was male
Mr. Richard Norris Williams II was male
Mr. Thomson Beattie was male
a boy with a name that sounded like volunteer's sex cannot be identified based on salutation prefix
two or three crew who died during the night32's sex cannot be identified based on salutation prefix
two unidentified bodies's sex cannot be identified based on salutation prefix
Mr. August Edvard Wennerstrom was male
Mr. Carl Jonsson was male
Mr. Carl Olof Jansson was male
Mr. Edvard Bengtsson Lindell was male
Mr. Gunnar Isidor Tenglin was male
Mr. Olaus Abelseth was male
Mr. William Henry Tornquist was male
Mrs. Stanton (Rosa) Abbott was female
Cmdr. Charles Herbert Lightoller was male
Mr. Charles Joughin was male
Mr. Ernest Allan22 or Allen was male
Mr. Harold Sydney Bride was male
Mr. Harry Senior was male
Mr. J. Hagen was male
Mr. James McGann was male
Mr. John Collins was male
Mr. John George Jack Phillips was male
Mr. John Maynard was male
Mr. Sydney Daniels was male
Mr. Thayer estimated about 20 firemen were aboard was male
Mr. Thomas Whiteley was male
Mr. Walter Wally Hurst was male
Col. Archibald Gracie IV's sex cannot be identified based on salutation prefix
John Borland Jack Thayer Jr.'s sex cannot be identified based on salutation prefix
Mr. Algernon H. Barkworth was male
Mr. William John Mellor was male
Mr. Albert Johan Moss was male
Mr. Edward Arthur Dorkings was male
Mr. Eugene Daly was male
Mr. Oscar Johansson Olsson was male
Mr. Patrick OKeefe was male
Mr. Thomas J. McCormack was male
Mr. Victor Francis Sunderland was male
Mr. Albert or Alfred Victor Pearcey was male
Mr. August A.H. Weikman was male
Mr. George Thomas Rowe was male
Mr. Joseph Bruce Ismay was male
Mr. William Ernest Carter was male
four stowaways's sex cannot be identified based on salutation prefix
three firemen 9's sex cannot be identified based on salutation prefix

###### What time was each boat launched from the deck ?

In [3]:
#import os
import pandas as pd
import numpy as np
import pylab as plt

In [4]:
answer = pd.read_csv("titanic-clean.csv")
answer

   Boat                    Timelaunched
0     1               launched 1:10 a.m.
1     2               launched 1:45 a.m.
2     3                  launched 1 a.m.
3     4               launched 1:55 a.m.
4     5           launched at 12:55 a.m.
5     6           launched at 12:55 a.m.
6     7              launched 12:45 a.m.
7     8               launched 1:10 a.m.
8     9               launched 1:20 a.m.
9    10               launched 1:20 a.m.
10   11               launched 1:25 a.m.
11   12               launched 1:25 a.m.
12   13  launched 1:25 a.m. or 1:35 a.m.
13   14               launched 1:30 a.m.
14   15               launched 1:35 a.m.
15   16               launched 1:35 a.m.
16   A          last boat from starboard
17   B               last boat from port
18   C                launched 1:40 a.m.
19   D                launched 2:05 a.m.